In [3]:
import pandas as pd
import matplotlib.pyplot as plt
flight_df=pd.read_csv('FinalDataSetAirplaneCrashes.csv')
flight_df

,",Date,Time,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passengers,Aboard Crew,Fatalities,Fatalities Passengers,Fatalities Crew,Ground,Summary,Location,Latitude,Longitude,geometry",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"0,1908-09-17,17:18,Military - U.S. Army,,Demon...",NaN,NaN,NaN,NaN
1,"1,1909-09-07,,,,Air show,Wright Byplane,SC1,,1...",NaN,NaN,NaN,NaN
2,"2,1912-07-12,06:30,Military - U.S. Navy,,Test ...",NaN,NaN,NaN,NaN
3,"3,1913-08-06,,Private,,,Curtiss seaplane,,,1.0...",NaN,NaN,NaN,NaN
4,"4,1913-09-09,18:30,Military - German Navy,,,Ze...",NaN,NaN,NaN,NaN
...,...,...,...,...,...
4962,"4962,2019-04-16,11:00,Archipelagos Service Aer...",NaN,NaN,NaN,NaN
4963,"4963,2019-05-05,18:30,TVPX Aircraft Solutions,...",NaN,NaN,NaN,NaN
4964,"4964,2019-05-05,18:30,Aeroflot Russian Interna...",NaN,NaN,NaN,NaN
4965,"4965,2019-06-03,13:00,Military - Indian Air Fo...",NaN,NaN,NaN,NaN
4966,"4966,2019-07-30,02:00,Military - Pakistan Army...",NaN,NaN,NaN,NaN

NameError: name 'FinalDataSetAirplaneCrashes' is not defined